.accordion__item {
  border: 1px solid black;
}

.accordion__body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 500ms;
  background-color: lightblue;
}

.accordion__body--show {
  max-height: 200px;
}

/* .accordion__item:hover .accordion__body {
  max-height: 200px;
} */
