.accordion {
  width: 80%;
  margin: 1rem auto;

  &__item {
    border: 1px solid black;
    cursor: pointer;
  }

  &__header {
    margin: 0;
    background-color: lightblue;
    padding-left: 1rem;
    pointer-events: none;
  }

  &__title {
    pointer-events: none;
    margin: 0;
  }

  &__body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 500ms;
    padding-left: 1rem;
    pointer-events: none;
  }

  &__text {
    pointer-events: none;
  }
}
